{% extends 'base.html' %}

{% block main %}
    <div class="container text-center">
      <div class="row">
        <div class="col">
          Column
        </div>
        <div class="col">
          Olá {{ user.employees.name }}
        </div>
        <div class="col">
          <a href="{% url 'logout' %}">Logout</a>

          {% if user.employees.company %}
            <a href="{% url 'edit_company' user.employees.company.id %}">Edit Company</a>
          {% else %}
            <a href="{% url 'create_company' %}">Create Company</a>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}